<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div th:switch="${studentHaveTeachers}">
    <h2 th:case="null">he student has no teachers</h2>
    <div th:case="*">
        <h2>Teacher</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${studentHaveTeachers.getTeacherSet()}">
                <td th:text="${teacher.id}"></td>
                <td th:text="${teacher.firstName}"></td>
                <td th:text="${teacher.lastName}"></td>
                <td th:text="${teacher.subject}"></td>
                <td> <a th:href="@{/student-link-delete/{studentId}/{teacherId}(studentId=${studentHaveTeachers.getId()}, teacherId=${teacher.getId()})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/students">back</a></p>
</div>
</body>
</html>