<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
<div th:switch="${teacherHaveStudents.getStudentSet()}">
    <h2 th:case="null">The teacher has no students</h2>
    <div th:case="*">
        <h2>Students</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Course</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="student : ${teacherHaveStudents.getStudentSet()}">
                <td th:text="${student.getId()}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.course}"></td>
            <!--    <td> <a th:href="@{teacher-link-delete/{teacher}(teacher=${teacherHaveStudents})/{student}(student=${student.getId()})}">Delete</a></td> -->
            <!--    <td> <a th:href="@{teacher-link-delete/{teacher}(teacher=${teacherHaveStudents})/{s}(s=${student})}">Delete</a></td> -->
            <!--    <td> <a th:href="@{teacher-link-delete/{teacherId}(teacherId=${teacherHaveStudents.id})}">Delete</a></td> -->
                <td> <a th:href="@{/teacher-link-delete/{teacherId}/{studentId}(teacherId=${teacherHaveStudents.getId()}, studentId=${student.getId()})}">Delete</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/add-student">add student</a></p>
    <p><a href="/teachers">back</a></p>
</div>
</body>
</html>