<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Teachers</title>
</head>
<body>
<div th:switch="${teachers}">
    <h2 th:case="null">No teachers found!</h2>
    <div th:case="*">
        <h2>Teachers</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Subject</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="teacher : ${teachers}">
                <td th:text="${teacher.id}"></td>
                <td th:text="${teacher.firstName}"></td>
                <td th:text="${teacher.lastName}"></td>
                <td th:text="${teacher.subject}"></td>
                <td><a th:href="@{teacher-update/{id}(id=${teacher.id})}">Edit</a></td>
                <td><a th:href="@{teacher-delete/{id}(id=${teacher.id})}">Delete</a></td>
                <td><a th:href="@{students-teacher/{id}(id=${teacher.id})}">Students</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/teacher-create">Create teacher</a></p>
</div>
</body>
</html>